:host {
  --color-p1: #2a52be;
  --color-p2: #00ab66;
  --color-neutral: #9887af
}


main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.info {
  display: flex;
  gap: 1rem;

  div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: bolder;
    font-size: x-large;

    img {
      width: 20px;
    }
  }

  div:nth-child(1) {
    color: var(--color-p1);
  }

  div:nth-child(2) {
    color: var(--color-p2);
  }
}

.field {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.2rem;
}

.cell {
  padding: 0.5rem;
  cursor: pointer;
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-neutral);

  img {
    width: 50px;
  }
}

.result {
  padding: 0.5rem;
  border-radius: 5px;

}

.circle {
  background-color: var(--color-p1);
  align-items: center;
  font-weight: bolder;
  font-size: x-large;
}


.x {
  background-color: var(--color-p2);
  align-items: center;
  font-weight: bolder;
  font-size: x-large;
}

button {
  display: flex;

  img {
    width: 20px;
  }
}
