:host {
  --color-p1: #2a52be;
  --color-p2: #00ab66;
  --color-field: #EBBC6D;
  --color-neutral: #DD9065;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 80vh;
  overflow: hidden;
}

.field {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  gap: 0.2rem;
}

.cell {
  padding: 0.5rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-field);
}

.result {
  padding: 0.5rem;
  border-radius: 5px;
  align-items: center;
  font-family: Verdana, system-ui;
  font-weight: bolder;
  font-size: large;
}

.circle {
  background-color: var(--color-p1);
}

.x {
  background-color: var(--color-p2);
}

.draw {
  background-color: var(--color-neutral);
}

button {
  display: flex;
  padding: 0.3rem;
  border-radius: 5px;
  border: none;
  background-color: lightgrey;
  cursor: pointer;

  img {
    width: 20px;
  }
}

.current-player {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--color-neutral);
  width: 20px;
  height: 20px;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;

  a {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;

    img {
      width: 30px;
    }
  }
}
