<main>
  <ng-container>
    <div *ngIf="playWon" [ngClass]="playWon" class="result">
      <div *ngIf="playWon !== 'draw'" [ngClass]="playWon">Congratulations! {{playWon}} won</div>
      <div *ngIf="playWon === 'draw'" class="draw">Draw!</div>
    </div>
    <img *ngIf="!playWon" alt="cell" class="current-player" src="./assets/{{player}}.svg"/>
  </ng-container>

  <div class="field">
    <ng-container *ngFor="let cell of field;let i = index">
      <div (click)="onClick(i)" class="cell">
        <img *ngIf="cell" alt="cell" src="./assets/{{cell}}.svg"/>
      </div>
    </ng-container>
  </div>

  <button (click)="onReset()">
    <img alt="refresh" src="./assets/refresh.svg"/>
  </button>

</main>
