<main>
  <ng-container>
    <div *ngIf="game.playWon" [ngClass]="game.playWon" class="result">
      <div *ngIf="game.playWon !== 'draw'" [ngClass]="game.playWon">Congratulations! {{game.playWon}} wins.</div>
      <div *ngIf="game.playWon === 'draw'" class="draw">Draw!</div>
    </div>
    <img *ngIf="!game.playWon" alt="cell" class="current-player" src="./assets/{{game.player}}.svg"/>
  </ng-container>

  <div class="field">
    <ng-container *ngFor="let cell of game.field;let i = index">
      <div (click)="onClick(i)" class="cell">
        <img *ngIf="cell" alt="cell" src="./assets/{{cell}}.svg"/>
      </div>
    </ng-container>
  </div>

  <button (click)="onReset()">
    <img alt="refresh" src="./assets/refresh.svg"/>
  </button>
</main>
<footer>
  <a href="https://github.com/jbrischle/monorepo-angular" target="_blank">
    <img alt="github link jbrischle" src="./assets/github.svg"/>
  </a>
</footer>
